@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('..//fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qkp-goat2:before {
  content: "\e908";
}
.icon-qkp-sheep:before {
  content: "\e900";
}
.icon-qkp-camel:before {
  content: "\e901";
}
.icon-qkp-bull:before {
  content: "\e902";
}
.icon-qkp-message-c:before {
  content: "\e903";
}
.icon-qkp-goat:before {
  content: "\e904";
}
.icon-qkp-search-c:before {
  content: "\e905";
}
.icon-qkp-phone-c:before {
  content: "\e906";
}
.icon-qkp-insta:before {
  content: "\e907";
}
.icon-check-square:before {
  content: "\e909";
}
.icon-qkp-asterisk:before {
  content: "\f069";
}
.icon-qkp-plus:before {
  content: "\f067";
}
.icon-qkp-minus:before {
  content: "\f068";
}
.icon-qkp-search:before {
  content: "\f002";
}
.icon-qkp-envelope-o:before {
  content: "\f003";
}
.icon-qkp-heart:before {
  content: "\f004";
}
.icon-qkp-star:before {
  content: "\f005";
}
.icon-qkp-user:before {
  content: "\f007";
}
.icon-qkp-large:before {
  content: "\f009";
}
.icon-qkp-list:before {
  content: "\f00b";
}
.icon-qkp-check:before {
  content: "\f00c";
}
.icon-qkp-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-qkp-home:before {
  content: "\f015";
}
.icon-qkp-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-qkp-refresh:before {
  content: "\f021";
}
.icon-qkp-lock:before {
  content: "\f023";
}
.icon-qkp-camera:before {
  content: "\f030";
}
.icon-qkp-align-justify:before {
  content: "\f039";
}
.icon-qkp-map-marker:before {
  content: "\f041";
}
.icon-qkp-chevron-left:before {
  content: "\f053";
}
.icon-qkp-chevron-right:before {
  content: "\f054";
}
.icon-qkp-plus-circle:before {
  content: "\f055";
}
.icon-qkp-minus-circle:before {
  content: "\f056";
}
.icon-qkp-times-circle:before {
  content: "\f057";
}
.icon-qkp-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-qkp-eye:before {
  content: "\f06e";
}
.icon-qkp-eye-slash:before {
  content: "\f070";
}
.icon-qkp-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-qkp-calendar:before {
  content: "\f073";
}
.icon-qkp-comment:before {
  content: "\f075";
}
.icon-qkp-chevron-up:before {
  content: "\f077";
}
.icon-qkp-chevron-down:before {
  content: "\f078";
}
.icon-qkp-shopping-cart:before {
  content: "\f07a";
}
.icon-qkp-twitter-square:before {
  content: "\f081";
}
.icon-qkp-facebook-square:before {
  content: "\f082";
}
.icon-qkp-comments:before {
  content: "\f086";
}
.icon-qkp-thumbs-o-up:before {
  content: "\f087";
}
.icon-qkp-thumbs-o-down:before {
  content: "\f088";
}
.icon-qkp-thumb-tack:before {
  content: "\f08d";
}
.icon-qkp-phone:before {
  content: "\f095";
}
.icon-qkp-phone-square:before {
  content: "\f098";
}
.icon-qkp-twitter:before {
  content: "\f099";
}
.icon-qkp-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-qkp-unlock:before {
  content: "\f09c";
}
.icon-qkp-bell-o:before {
  content: "\f0a2";
}
.icon-qkp-wrench:before {
  content: "\f0ad";
}
.icon-qkp-filter:before {
  content: "\f0b0";
}
.icon-qkp-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-qkp-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-qkp-google-plus:before {
  content: "\f0d5";
}
.icon-qkp-caret-down:before {
  content: "\f0d7";
}
.icon-qkp-caret-up:before {
  content: "\f0d8";
}
.icon-qkp-caret-left:before {
  content: "\f0d9";
}
.icon-qkp-caret-right:before {
  content: "\f0da";
}
.icon-qkp-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-qkp-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-qkp-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-qkp-envelope:before {
  content: "\f0e0";
}
.icon-qkp-linkedin:before {
  content: "\f0e1";
}
.icon-qkp-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-qkp-exchange:before {
  content: "\f0ec";
}
.icon-qkp-bell:before {
  content: "\f0f3";
}
.icon-qkp-angle-left:before {
  content: "\f104";
}
.icon-qkp-angle-right:before {
  content: "\f105";
}
.icon-qkp-angle-up:before {
  content: "\f106";
}
.icon-qkp-angle-down:before {
  content: "\f107";
}
.icon-qkp-code:before {
  content: "\f121";
}
.icon-qkp-unlock-alt:before {
  content: "\f13e";
}
.icon-qkp-ellipsis-h:before {
  content: "\f141";
}
.icon-qkp-ellipsis-v:before {
  content: "\f142";
}
.icon-qkp-thumbs-up:before {
  content: "\f164";
}
.icon-qkp-thumbs-down:before {
  content: "\f165";
}
.icon-qkp-youtube-play:before {
  content: "\f16a";
}
.icon-qkp-instagram:before {
  content: "\f16d";
}
.icon-qkp-long-arrow-down:before {
  content: "\f175";
}
.icon-qkp-long-arrow-up:before {
  content: "\f176";
}
.icon-qkp-long-arrow-left:before {
  content: "\f177";
}
.icon-qkp-long-arrow-right:before {
  content: "\f178";
}
.icon-qkp-android:before {
  content: "\f17b";
}
.icon-qkp-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-qkp-cc-mastercard:before {
  content: "\f1f1";
}
.icon-qkp-cc-paypal:before {
  content: "\f1f4";
}
.icon-qkp-copyright:before {
  content: "\f1f9";
}
.icon-qkp-whatsapp:before {
  content: "\f232";
}
.icon-qkp-snapchat:before {
  content: "\f2ab";
}
.icon-qkp-user-circle:before {
  content: "\f2bd";
}
.icon-qkp-user-circle-o:before {
  content: "\f2be";
}
